.imagemSingUp{
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 50px;
    justify-content: center;
}

.box-singUp {
    background-color: #bcc1ca;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px #000;
    margin-right: 20px;
    margin-top: 50px;
}

.btnCancel {
    margin-right: 20px !important;
}