.imagem {
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.text-decorator-none {
    text-decoration: none;
}
.box-input{
    background-color: #bcc1ca;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px #000;
}
.signUp:hover {
    color: #000;
    font-weight: bold !important;
}