:root {
    --color-font: #fff;
    --centralize-itens: center;
}


.grid-footer {
    direction: row;
    margin-top: auto;
    align-items: var(--centralize-itens);
    justify-content: var(--centralize-itens);
}


.box1-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #1e1e22;
    align-items: var(--centralize-itens);
    justify-content: var(--centralize-itens);
}


.box2-footer {
    height: 60px;
    background-color: #0b0b0c;
}

.network-footer {
    font-size: 50px !important;
    color: var(--color-font);
}

.textos {
    color: var(--color-font);
    text-align: var(--centralize-itens);
}